#submit:hover{
    background: linear-gradient(45deg,#59ffca,#57cdff,#8bffda);
}

 input:focus {
    outline:none;
    border-color: #0a9c55;
    background-color: #ffffff23;
    color: rgb(255, 255, 255);
}
